<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <link rel="stylesheet" type="text/css" href="static/css/whatisthis.css">
    <link rel="stylesheet" type="text/css" href="static/css/created_url.css">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://localhost/static/js/rnd_grad.js" type="text/javascript"
charset="utf-8"></script>
    <title>Tyni.link</title>
  </head>
  <body onload="runmain(); ">
    <div id="hero">
      <header>
        <div class="header">
          <div id="title">
            <h1> Tyni.link </h1>
            <h4> Created url Sucsessfully!! </h4>
          </div>
        </div>
      </header>
      <div id="info">
        <h2>Your Short Url:</h2>
        <h2 id="url">https://tyni.link?d=%s</h2>
        <div id="scrolldown">
          <div id="left">
            <p>SCROLL DOWN FOR QR CODE</p>
          </div>
          <div id="right">
            <p>SCROLL DOWN FOR QR CODE</p>
          </div>
        </div>
        <div id="qr">
          <h3>People will be able to go to the url instantly by scanning this QR
            code:</h3>
          <img src="/other/getqr?url=%s" id="qrimg"> </div>
      </div>
    </div>
  </body>
</html>
