
    <article>
      <h3>What is this?</h3>
      <p>Tyni.link is a service that lets you <strong>shorten long urls</strong> like
        "https://docs.google.com/document/d/1su0sOYptfFfMlxnDsXpCfrtwvnPby4Gop_rX4haHSTw/edit"
        to <strong>short, sweet urls like tyni.link?d=MyHome</strong>. Unlike most shorteners,
        which produce urls similar to goo.gl/zf0I5, Tyni.link lets you <strong>choose
        your own, readable, urls</strong>, like the one mentioned above. It also provides
        different functions like <strong>tracking, link monetization, QR code generation
        and more.</strong></p>
      <h3>Why is it better than others?</h3>
      <p>Have you ever been in a situation where you have to write down a link
        on paper (school project citation, notes, etc.)? Than you would
        understand how unhandy it is to write randomly generated codes like
        goo.gl/zf0I5: l's look like I's, 0's look like O's, etc. Also the same
        happens when you try to say the link to someone: random codes are just
        too easy to forget. With tyni.link <strong>YOU make the code</strong>, so you'll never
        have problems like that again.</p>
      <div id="totop"> <a href="#hero" class="button">Back to the Top</a> </div>
    </article>
