<div id="form">
        <p>blah blah blah blah blah blah blah blah blah blah blah blah</p>
        <form action="/owner/new_owner"> <input id="name" name="name" placeholder="Enter Yout Username Here"
            type="text"><br>
          <br>
          <input id="pass" name="password" placeholder="Enter The password here"
            type="password"><br>
          <br>
          <input id="email" name="email" placeholder="Enter Your Email here" type="email"><br>
          <br>
          <input id="captcha" name="captcha" placeholder="Enter the word on the right in here."
            type="text">
          <img id="captchaimg" src="/other/getcaptcha"> <input class="button"
            value="Register"
            type="submit">
        </form>
</div>